/* ====================================
GENERAL STYLES 
====================================== */

@font-face {
    font-family: "CooperHewitt-Thin";
    src: url("../fonts/CooperHewitt-Thin.woff") format('woff');
    font-weight: 100;
}

@font-face {
    font-family: "CooperHewitt-ThinItalic";
    src: url("../fonts/CooperHewitt-ThinItalic.woff") format('woff');
    font-weight: 100;
}

@font-face {
    font-family: "CooperHewitt-Light";
    src: url("../fonts/CooperHewitt-Light.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "CooperHewitt-LightItalic";
    src: url("../fonts/CooperHewitt-LightItalic.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "CooperHewitt-Book";
    src: url("../fonts/CooperHewitt-Book.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "CooperHewitt-BookItalic";
    src: url("../fonts/CooperHewitt-BookItalic.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "CooperHewitt-Medium";
    src: url("../fonts/CooperHewitt-Medium.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt-MediumItalic";
    src: url("../fonts/CooperHewitt-MediumItalic.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt-Semibold";
    src: url("../fonts/CooperHewitt-Semibold.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "CooperHewitt-SemiboldItalic";
    src: url("../fonts/CooperHewitt-SemiboldItalic.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "CooperHewitt-Bold";
    src: url("../fonts/CooperHewitt-Bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "CooperHewitt-BoldItalic";
    src: url("../fonts/CooperHewitt-BoldItalic.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "CooperHewitt-Heavy";
    src: url("../fonts/CooperHewitt-Heavy.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "CooperHewitt-HeavyItalic";
    src: url("../fonts/CooperHewitt-HeavyItalic.woff") format('woff');
    font-weight: 700;
}




* {
	font-family: "CooperHewitt-Book";
	color: #083040;
}

html { 
	font-size: 62.5%; 
} 


body { 
	font-size: 18px;
	font-size: 1.8rem;
}

a {
	color: #1CA8DF;
}

a:hover{
	color: #1CA8DF;

}

/* ====================================
CUSTOM STYLES 
======================================*/


#intro {
	height: 500px;
	width: 100vw;
	background-color: #fff;
	background: url(../resources/me.jpg);
	background-size: 290px 446px;
	background-repeat: no-repeat;
	background-position: 68vw 60px;
}

 div#top-bar{
	/* Top Bar Decoration: */
	height: 1vh;
	width: 100vw;
	background-color: #1CA8DF;
}

div#navigation{
	float:right;
    position:relative;
    left:-50%;
    text-align:left;
}


#navigation ul {
	list-style:none;
    position:relative;
    left:50%;
}

#navigation li {
	float:left;
	position:relative;
	padding-right: 50px;
	padding-top: 30px;
}

#navigation li a{
	color: #526070;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 18px;
	line-height: 1.8rem;
}

#navigation li a:hover{
	border-bottom: 2px solid #1CA8DF;
	padding-bottom: 1px;
}

.navigation-bar li#active a{
	border-bottom: 2px solid #1CA8DF;
	padding-bottom: 1px;
}

.container-intro {
	height: 100%;
	padding: 0px;
}

.intro-text {
	clear: both;
	height:100%;
	display: block;
		
}

.intro-text p#hello {
	padding-top: 150px;
	font-family: CooperHewitt-Medium;
	font-size: 24px;
	font-size: 2.4rem;
	color: #083040;
	line-height: 36px;
	line-height: 3.6rem;
}



.intro-text p#social-media-icons a{
	padding-right: 15px;
	color: #CCCCCC;
}

#social-media-icons {
	font-size: 2.4rem;
	font-size: 24px;
	color: #CCCCCC;
}

#fb {
	color: #CCCCCC;
}


#fb:hover{
	color: #425D9C;
}

#twitter {
	color: #CCCCCC;
}

#twitter:hover{
	color: #55ACEE;
}

#instagram {
	color: #CCCCCC;
}

#instagram:hover{
	color: #99634D;
}

#dribbble {
	color: #CCCCCC;
}

#dribbble:hover{
	color: #E04D87;
}


#description .container{
	width: 100%;
	background-color: #F5F5F5;
	line-height: 30px;
	line-height: 3rem;
	font-size: 18px;
	font-size: 1.8rem;
}

#description #desc-text {
	padding-top: 70px;
	padding-left: 0px;
}



#description #link-process{
	padding-top: 40px;
	padding-bottom: 65px;
	padding-left: 0px;
}


.title{
	text-transform: uppercase;
	font-family: "CooperHewitt-Medium";
	font-size: 24px;
	font-size: 2.4rem;
	padding-top: 60px;
	text-align: center;
	color: #083040;
	/*
	border-width: 0 0 2px 0;
	border-bottom:1px solid linear-gradient(to left, rgba(255,255,255,0), rgba(152,158,165,1),rgba(255,255,255,0));
	*/
}


#motto{
	background: url(../resources/iphone6.png);
	background-size: 214px 435px;
	background-repeat: no-repeat;
	background-position: 10vw 200px;
	/* REMOVE THIS HEIGHT */
	height: 785px;

}

#my-motto p{
	border-bottom:1px solid rgba(152,158,165,1);
}
#principles {
	padding-top: 80px;

}

#principles ol {
	list-style-type: decimal;
}

#principles ol li{
	text-transform: uppercase;
	font-size: 18px;
	font-size: 1.8rem;
	font-family: "CooperHewitt-Medium";
}


