/* ====================================
GENERAL STYLES 
====================================== */

@font-face {
    font-family: "CooperHewitt-Thin";
    src: url("../fonts/CooperHewitt-Thin.woff") format('woff');
    font-weight: 100;
}

@font-face {
    font-family: "CooperHewitt-ThinItalic";
    src: url("../fonts/CooperHewitt-ThinItalic.woff") format('woff');
    font-weight: 100;
}

@font-face {
    font-family: "CooperHewitt-Light";
    src: url("../fonts/CooperHewitt-Light.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "CooperHewitt-LightItalic";
    src: url("../fonts/CooperHewitt-LightItalic.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "CooperHewitt-Book";
    src: url("../fonts/CooperHewitt-Book.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "CooperHewitt-BookItalic";
    src: url("../fonts/CooperHewitt-BookItalic.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "CooperHewitt-Medium";
    src: url("../fonts/CooperHewitt-Medium.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt-MediumItalic";
    src: url("../fonts/CooperHewitt-MediumItalic.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "CooperHewitt-Semibold";
    src: url("../fonts/CooperHewitt-Semibold.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "CooperHewitt-SemiboldItalic";
    src: url("../fonts/CooperHewitt-SemiboldItalic.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "CooperHewitt-Bold";
    src: url("../fonts/CooperHewitt-Bold.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "CooperHewitt-BoldItalic";
    src: url("../fonts/CooperHewitt-BoldItalic.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "CooperHewitt-Heavy";
    src: url("../fonts/CooperHewitt-Heavy.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "CooperHewitt-HeavyItalic";
    src: url("../fonts/CooperHewitt-HeavyItalic.woff") format('woff');
    font-weight: 700;
}




* {
	font-family: "CooperHewitt-Book";
	color: #083040;
}

html { 
	font-size: 62.5%; 
} 


body { 
	font-size: 18px;
	font-size: 1.8rem;
}

a {
	color: #1CA8DF;
}

a:hover{
	color: #1CA8DF;

}

p {
	text-rendering: optimizelegibility;
}
/* ====================================
CUSTOM STYLES 
======================================*/


#intro {
	height: 500px;
	width: 100vw;
	background-color: #fff;
	background: url(../resources/me.jpg);
	background-size: 290px 446px;
	background-repeat: no-repeat;
	background-position: 68vw 60px;
}

 div#top-bar{
	/* Top Bar Decoration: */
	height: 1vh;
	width: 100vw;
	background-color: #1CA8DF;
}

div#navigation{
	float:right;
    position:relative;
    left:-50%;
    text-align:left;
}


#navigation ul {
	list-style:none;
    position:relative;
    left:50%;
}

#navigation li {
	float:left;
	position:relative;
	padding-right: 50px;
	padding-top: 30px;
}

#navigation li a{
	color: #526070;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 18px;
	line-height: 1.8rem;
}

#navigation li a:hover{
	border-bottom: 2px solid #1CA8DF;
	padding-bottom: 1px;
}

.navigation-bar li#active a{
	border-bottom: 2px solid #1CA8DF;
	padding-bottom: 1px;
}

.container-intro {
	height: 100%;
	padding: 0px;
}

.container-intro .container{
}


#intro-text {
	clear: both;
	height:100%;
	display: block;
}

#intro-text p#hello {
	padding-top: 150px;
	font-family: CooperHewitt-Medium;
	font-size: 24px;
	font-size: 2.4rem;
	color: #083040;
	line-height: 36px;
	line-height: 3.6rem;
}



#intro-text p#social-media-icons a{
	padding-right: 15px;
	color: #CCCCCC;
}

#social-media-icons {
	font-size: 2.4rem;
	font-size: 24px;
	color: #CCCCCC;
}

#fb {
	color: #CCCCCC;
	-o-transition:color .2s ease-out, background 2s ease-in;
  	-ms-transition:color .2s ease-out, background 2s ease-in;
 	-moz-transition:color .2s ease-out, background 2s ease-in;
 	-webkit-transition:color .2s ease-out, background 2s ease-in;
 	transition:color .2s ease-out, background .2s ease-in;
}


#fb:hover{
	color: #425D9C;
}

#twitter {
	color: #CCCCCC;
	-o-transition:color .2s ease-out, background 2s ease-in;
  	-ms-transition:color .2s ease-out, background 2s ease-in;
 	-moz-transition:color .2s ease-out, background 2s ease-in;
 	-webkit-transition:color .2s ease-out, background 2s ease-in;
 	transition:color .2s ease-out, background .2s ease-in;
}

#twitter:hover{
	color: #55ACEE;
}

#instagram {
	color: #CCCCCC;
	-o-transition:color .2s ease-out, background 2s ease-in;
  	-ms-transition:color .2s ease-out, background 2s ease-in;
 	-moz-transition:color .2s ease-out, background 2s ease-in;
 	-webkit-transition:color .2s ease-out, background 2s ease-in;
 	transition:color .2s ease-out, background .2s ease-in;
}

#instagram:hover{
	color: #99634D;
}

#dribbble {
	color: #CCCCCC;
	-o-transition:color .2s ease-out, background 2s ease-in;
  	-ms-transition:color .2s ease-out, background 2s ease-in;
 	-moz-transition:color .2s ease-out, background 2s ease-in;
 	-webkit-transition:color .2s ease-out, background 2s ease-in;
 	transition:color .2s ease-out, background .2s ease-in;
}

#dribbble:hover{
	color: #E04D87;
}


.gray-background{
	width: 100vw;
	background-color: #F5F5F5;
	line-height: 30px;
	line-height: 3rem;
	font-size: 18px;
	font-size: 1.8rem;
}

#description #desc-text {
	padding-top: 70px;

}



#description #link-process{
	padding-top: 40px;
	padding-bottom: 65px;
}


.title{
	padding-top: 60px;
	text-transform: uppercase;
	font-family: "CooperHewitt-Medium";
	font-size: 22px;
	font-size: 2.2rem;
	text-align: center;
	color: #083040;
	background: white;
	background: -moz-linear-gradient(left, white 0%, rgba(82,96,112,0.97) 31%, rgba(82,96,112,1) 32%, rgba(82,96,112,1) 72%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(31%, rgba(82,96,112,0.97)), color-stop(32%, rgba(82,96,112,1)), color-stop(72%, rgba(82,96,112,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, white 0%, rgba(82,96,112,0.97) 31%, rgba(82,96,112,1) 32%, rgba(82,96,112,1) 72%, white 100%);
	background: -o-linear-gradient(left, white 0%, rgba(82,96,112,0.97) 31%, rgba(82,96,112,1) 32%, rgba(82,96,112,1) 72%, white 100%);
	background: -ms-linear-gradient(left, white 0%, rgba(82,96,112,0.97) 31%, rgba(82,96,112,1) 32%, rgba(82,96,112,1) 72%, white 100%);
	background: linear-gradient(to right, white 0%, rgba(82,96,112,0.97) 31%, rgba(82,96,112,1) 32%, rgba(82,96,112,1) 72%, white 100%);
	background-size: 140px 2px;
	background-position: bottom;
	background-repeat: no-repeat;

}

/* Motto/Principles */

#motto{
	background: url(../resources/iphone6.png);
	background-size: 214px 435px;
	background-repeat: no-repeat;
	background-position: 15vw 200px;
}

#principles {
	padding-top: 80px;

}

#principles ol {
	list-style-type: decimal;
	counter-reset: principles-counter;
	padding-bottom: 100px;
}

#principles ol li::before{
    display: list-item;
    left: -40px;
    position: absolute;
    color: #FF6347;
    content: counter(principles-counter,decimal-leading-zero);
    counter-increment: principles-counter;
}


#principles ol li{
	text-transform: uppercase;
	font-size: 18px;
	font-size: 1.8rem;
	font-family: "CooperHewitt-Medium";
	display: list-item;
	list-style-type: none;
    position: relative;
}

#principles p {
	font-family: "CooperHewitt-Book";
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 30px;
	line-height: 3.0rem;
}

/* Tools */

#tools-title {
	background-size: 160px 2px;
}

.tool {
	padding-left: 15px
}

.tool-row {
	padding-top: 60px;
}

.tool-def {
	padding: 0px;
	padding-left: 0px;
}

.tool-def p{
	text-transform: uppercase;
	text-align: right;
	font-family: "CooperHewitt-Medium";
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 20px;
	color: #FF6347;
}

.tool h3 {
	text-transform: uppercase;
	font-family: "CooperHewitt-Medium";
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-top: 0px;
}

.tool p {
	padding-left: 40px;
}

.tool-desc {
	line-height: 30px;
	line-height: 3.0rem;
}

#sketch {
	background: url(../resources/sketch-icon.png);
	background-size: 142px 121px;
	background-repeat: no-repeat;
	background-position: 8vw 105px;
}

#wacom {
	background: url(../resources/intuos-pro.png);
	background-size: 240px 158px;
	background-repeat: no-repeat;
	background-position: 5vw 85px;
}

#rhodia {
	background: url(../resources/rhodia-pad.png);
	background-size: 115px 155px;
	background-repeat: no-repeat;
	background-position: 9vw 80px;
}

#microns {
	background: url(../resources/pigma-micron.png);
	background-size: 282px 23px;
	background-repeat: no-repeat;
	background-position: 5vw 150px;
}

#copic {
	background: url(../resources/copic-marker.png);
	background-size: 274px 37px;
	background-repeat: no-repeat;
	background-position: 5vw 125px;
	padding-bottom: 105px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Motto */
	#motto{
	background-position: 5vw 200px;
	}

	/* Tools */

	#sketch {
	background-position: 8vw 60%;
	}

	#wacom {
		background-position: 7vw 60%;
	}

	#rhodia {
		background-position: 9vw 60%;
	}

	#microns {
		background-position: 5vw 60%;
	}

	#copic {
		background-position: 5vw 60%;
		padding-bottom: 105px;
	}

}

